{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="container">
<div class="container bg-light" style="max-width: 1400px; ">
<section>
  <br>
  <div class="container">
    <h2 style="text-align: left; color: #062b5c; margin-bottom: 20px; padding: 10px 20px; font-weight: bold;">Management</h2>
    
    <div class="row justify-content-center align-items-center mb-5">
        <div class="col-md-6 mb-4">
            <div class="management-card p-4 bg-white shadow-sm rounded text-center">
                <h3 style="color: #062b5c; font-weight: bold;">The Board</h3>
                <p class="lead" style="color: #333;">Our board consists of experienced professionals dedicated to the success and growth of African Stars Football Club. They provide strategic direction and oversight, ensuring that the club continues to thrive both on and off the field.</p>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="management-card p-4 bg-white shadow-sm rounded text-center">
                <h3 style="color: #062b5c; font-weight: bold;">The Club</h3>
                <p class="lead" style="color: #333;">African Stars Football Club is managed by a skilled team of executives and staff who handle the day-to-day operations. From marketing and finance to player development and community outreach, our company is dedicated to maintaining excellence in all aspects of the club.</p>
            </div>
        </div>
    </div>
</div>
    <div class="container  py-5 ">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="text-align: left; color: #062b5c; margin-bottom: 20px; padding: 10px 20px; font-weight: bold;">AFRICAN STARS FOOTBALL CLUB</h2>
                <div class="about-content mb-5">
                    <p class="lead">With 7 Namibia Premier League titles (1994, 2008-09, 2009-10, 2014-15, 2017-18, 2022-23, and 2023-24) and 5 Namibian Cup titles (2007, 2010, 2013, 2014, 2018) under our belt, African Stars Football Club has established itself as one of the top teams in the league. We have also won the Standard Bank Cup once in 2015 and were runners-up once in 2014. Additionally, we finished runners-up in the Dr. Hage Geingob Cup in 2014 and 2015 and placed third in 2016.</p>
                    <p class="lead">African Stars Football Club has also made several appearances in CAF competitions, including 2 appearances in the CAF Champions League (2019 and 2020), 1 appearance in the CAF Confederation Cup (2014), and 1 appearance in the CAF Cup (1992).</p>
                    <p class="lead">African Stars Football Club is a proud and accomplished football club that has significantly impacted the Namibian football scene. We continue to strive for excellence on and off the field and have a bright future ahead.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section id="honours-section" style="padding: 40px 20px; background: linear-gradient(to bottom, #97002a, #000000);">
  <div class="container">
    <div class="row align-items-md-stretch">
      <!-- Sponsorships Section -->
      <div class="col-md-6 mb-4"> 
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/star5.jpg' %}" alt="Sponsorship Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Women Team</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">Join our team of sponsors and partners to support the club and gain valuable exposure for your brand. Together, we can achieve greatness.</p>
          </div>
        </div>
      </div>
      <!-- Youth Academy Section -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/fan3.jpg' %}" alt="Youth Academy Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Youth Academy</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">Our youth academy is dedicated to developing the next generation of football stars. Learn more about our programs and how to join.</p>
          </div>
        </div>
      </div>
      <!-- Community Engagement Section -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/fans.jpg' %}" alt="Community Engagement Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Community Engagement</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">African Stars is committed to giving back to the community. Discover our community projects and how you can get involved.</p>
          </div>
        </div>
      </div>
      <!-- Club Store Section -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/star8.jpg' %}" alt="Club Store Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Club Store</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">Visit our club store to purchase official African Stars merchandise, including kits, accessories, and more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="member-section" style="padding: 40px 20px; background: url('{% static "home/member-background.jpg" %}') center/cover no-repeat; overflow: hidden;">
  <div class="container" style="max-width: 1600px;">
    <div class="row align-items-md-stretch">
      <!-- OKASERANDU Account Section -->
      <div class="col-md-6 mb-4">
        <div class="h-100 p-5 text-white rounded-3" style="background: rgba(0, 0, 0, 0.7);">
          <h4 style="font-weight: bold;">OKASERANDU ACCOUNT</h4>
          <p style="color: #C8C8C8;">Register now to receive the latest news, purchase tickets, and get exclusive access to African Stars content as well as a host of other benefits.</p>
        </div>
      </div>
      <!-- About African Stars Section -->
      <div class="col-md-6 mb-4">
        <div class="h-100 p-5 text-white rounded-3" style="background: rgba(0, 0, 0, 0.7);">
          <h4 style="font-weight: bold;">ABOUT AFRICAN STARS</h4>
          <p style="color: #C8C8C8;">African Stars Football Club is a professional Namibian football club based in Windhoek. We play in the Namibia Premier League and have made a name for ourselves with our outstanding achievements.</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <br>

  <section id="member-section" style="padding: 40px 20px; background: url('{% static "home/honour-bg.jpg" %}') center/cover no-repeat; overflow: hidden;">
    <div class="container" style="max-width: 1600px;">
        <h4 class="text-left mb-4 p-3 rounded-top font-weight-bold" style="color: #ffffff; font-size: 24px; border-bottom: 2px solid #062b5c;">Honours</h4>
        <div class="row justify-content-center align-items-center">
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
              <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                <img src="{% static 'home/trophy/1.svg' %}" alt="Premier League Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">Premier League</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">7 Titles</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4" >
                <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/2.svg' %}" alt="Cup Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">Namibian Cup</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">6 Titles</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
                <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/3.svg' %}" alt="Standard Bank Cup Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">Standard Bank Cup</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">1 Title</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
              <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/4.png' %}" alt="CAF Champions League Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">CAF Champions League</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">2 Appearances</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
              <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/5.png' %}" alt="CAF Confederation Cup Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">CAF Confederation Cup</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">1 Appearance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</div>
</div>
{% endblock content %}
