{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>African Stars Football Club</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "home/css/styles.css" %}">

    
</head>
<body>

    <!-- Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'home/african-stars-logo4.svg' %}" alt="Logo" style="height: 60px;">
        </a>
        <a class="navbar-brand" href="#">African Stars Football Club</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/africanstarssoccerclub"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://x.com/african_StarsFC"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/africanstarsfc/"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/@africanstars_f.c."><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background:#bf001a;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "home" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "about" %}">Club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "fans" %}">Fans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock content %}
 <!-- Footer -->
<footer class="footer">
    <!-- Sponsors/Partners Section -->
    <div class="container">
      <div class="row text-white mt-5">
        <div class="col-12 mb-4">
          <h5 class="text-light">PARTNERS</h5>
        </div>
        <div class="col-6 col-md-3 mb-2">
          <div class="card text-white p-2" style="background: #97002a; border: none; margin-bottom: 0;">
            <img src="{% static 'home/hei.webp' %}" class="card-img-top img-fluid" alt="Partner 1 Logo" style="width: 100px; height: auto;">
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2">
          <div class="card text-white p-2" style="background: #97002a; border: none; margin-bottom: 0;">
            <img src="{% static 'home/okm.webp' %}" class="card-img-top img-fluid" alt="Partner 2 Logo" style="width: 100px; height: auto;">
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2">
          <div class="card text-white p-2" style="background: #97002a; border: none; margin-bottom: 0;">
            <img src="{% static 'home/tuyela.webp' %}" class="card-img-top img-fluid" alt="Partner 3 Logo" style="width: 100px; height: auto;">
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2">
          <div class="card text-white p-2" style="background: #97002a; border: none; margin-bottom: 0;">
            <img src="{% static 'home/sea-fast.webp' %}" class="card-img-top img-fluid" alt="Partner 4 Logo" style="width: 100px; height: auto;">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-white">
        <div class="col-12 col-md mb-4 mb-md-0">
          <img class="mb-2" src="{% static 'home/african-stars-logo4.svg' %}" alt="African Stars FC Logo" width="80" height="70">
          <small class="d-block mb-3">&copy; 1965–2024 African Stars Football Club. All rights reserved. By Ngazetungue Muheue</small>
        </div>
        <div class="col-6 col-md mb-4 mb-md-0">
          <h5 class="text-light">Club Information</h5>
          <ul class="list-unstyled text-light">
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Home</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Teams</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Fixtures</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Results</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Honours</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Legends</a></li>
          </ul>
        </div>
        <div class="col-6 col-md mb-4 mb-md-0">
          <h5 class="text-light">Club Information</h5>
          <ul class="list-unstyled text-light">
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Home</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Teams</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Fixtures</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Results</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Honours</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Legends</a></li>
          </ul>
        </div>
        <div class="col-6 col-md mb-4 mb-md-0">
          <h5 class="text-light">Club Information</h5>
          <ul class="list-unstyled text-light">
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Home</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Teams</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Fixtures</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Results</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Honours</a></li>
            <li class="mb-1"><a class="text-light text-decoration-none" href="#">Legends</a></li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <h5 class="text-light">Follow Us</h5>
          <ul class="list-unstyled d-flex">
            <li class="me-3">
              <a class="text-light" href="https://www.facebook.com/africanstarssoccerclub" aria-label="Facebook">
                <i class="fab fa-facebook fa-lg"></i>
              </a>
            </li>
            <li class="me-3">
              <a class="text-light" href="https://x.com/african_StarsFC" aria-label="Twitter">
                <i class="fab fa-twitter fa-lg"></i>
              </a>
            </li>
            <li class="me-3">
              <a class="text-light" href="https://www.instagram.com/africanstarsfc/" aria-label="Instagram">
                <i class="fab fa-instagram fa-lg"></i>
              </a>
            </li>
            <li class="me-3">
              <a class="text-light" href="https://www.youtube.com/@africanstars_f.c." aria-label="YouTube">
                <i class="fab fa-youtube fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>
