{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="container-xxl" >
      <!-- Slider Header -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static "home/3.jpg" %}" class="d-block w-100" alt="Slide 1">

            </div>
            <div class="carousel-item">
                <img src="{% static "home/2.jpg" %}" class="d-block w-100" alt="Slide 2">

            </div>
            <div class="carousel-item">
                <img src="{% static "home/3.jpg" %}" class="d-block w-100" alt="Slide 3">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <header class="text-white py-4" style="background: radial-gradient(red 10%, transparent 10%) 0 0 / 10px 10px, linear-gradient(to bottom, #97002a, #97002a);">
      <div id="matchSchedule" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row align-items-center">
                {% for fixture in fixtures %}
                <div class="col-md-4 text-center mb-3" style="font-size: 0.75rem;">
                  <div class="p-3" style="background: rgba(0, 0, 0, 0.5); border-radius: 0.375rem;">
                    <p class="mb-1" style="font-weight: bold;">{{fixture.home}} vs {{fixture.away}}</p>
                    <p class="mb-1">Time: {{fixture.time}}</p>
                    <p class="mb-0">Date: {{fixture.date}}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- Add more carousel items for additional matches -->
        </div>
        <a class="carousel-control-prev" href="#matchSchedule" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#matchSchedule" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    
<div class="container-xxl"  >

  <section id="feature-section" style="padding: 40px 20px; background: #ffffff;">
    <div class="container-xxl py-4">
      <div class="row align-items-center">
        <div class="col-md-5 mb-4 mb-md-0">
          <img src="{% static 'home/nfa-champion.jpg' %}" alt="Match Image" class="img-fluid" style="border-radius: 0.375rem; width: 100%;">
        </div>
        <div class="col-md-4">
          <h1 class="display-5 fw-bold" style="color: #062b5c;">African Stars Football Club is PsBet NFA Cup Champions</h1>
          <p class="fs-4" style="color: #97002a; font-size: 1.25rem; font-weight: bold;">Stream the match live on the Official African Stars FC channel.</p>
          <button class="btn btn-lg" type="button" style="background-color: #97002a; color: white;">Watch</button>
        </div>
        <div class="col-md-3">
          <div class="card mb-4" style="border: none; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div class="card-header" style="background-color: #062b5c; color: white; text-align: center;">
              <h6 class="mb-0">Latest Results</h6>
            </div>
            <ul class="list-group list-group-flush" style="color: #97002a; font-size: 0.75rem;">
              {% for result in results %}
                  <li class="list-group-item">{{ result.fixture.home }} {{ result.home_score }} - {{ result.away_score }} {{ result.fixture.away }}</li>
              {% empty %}
                  <li class="list-group-item">No results available.</li>
              {% endfor %}
          </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<section id="player-section" style="padding: 40px 20px; background: radial-gradient(#1a1a1a 10%, transparent 10%) 0 0 / 10px 10px, linear-gradient(to bottom, #000000, #1a1a1a);">

  <div class="container mt-5">
    <div class="row mb-3">
      <div class="col-md-6">
        <h6 style="background-color: #97002a; color: #A9A9A9; padding: 10px; border-radius: 5px; display: inline-block;">League Players Squad</h6>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="{% url "team" %}"><h6 style="background-color: #97002a; color: #A9A9A9; padding: 10px; border-radius: 5px; display: inline-block;">Full Team Squad</h6></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
          <div class="card-body" style="display: flex; padding: 0;">
            <div style="width: 40%; height: 240px; background-image: url('{% static "home/star1.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            <div style="width: 60%; padding: 0.5rem; color: #909090;">
              <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player One</h5>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Forward</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Namibia</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A talented forward with a knack for scoring. Known for quick sprints and sharp reflexes.</p>
              <a href="#" style="display: inline-block; padding: 0.25rem 0.5rem; margin-top: 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
          <div class="card-body" style="display: flex; padding: 0;">
            <div style="width: 40%; height: 240px; background-image: url('{% static "home/star2.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            <div style="width: 60%; padding: 0.5rem; color: #909090;">
              <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Two</h5>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Midfielder</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: South Africa</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A creative midfielder who excels in passing and playmaking. Brings vision and strategy to the game.</p>
              <a href="#" style="display: inline-block; padding: 0.25rem 0.5rem; margin-top: 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
          <div class="card-body" style="display: flex; padding: 0;">
            <div style="width: 40%; height: 240px; background-image: url('{% static "home/star3.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            <div style="width: 60%; padding: 0.5rem; color: #909090;">
              <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Three</h5>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Defender</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Zambia</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A strong defender known for tactical skills and defensive prowess. Excellent at blocking and intercepting.</p>
              <a href="#" style="display: inline-block; padding: 0.25rem 0.5rem; margin-top: 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
          <div class="card-body" style="display: flex; padding: 0;">
            <div style="width: 40%; height: 240px; background-image: url('{% static "home/star4.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
            <div style="width: 60%; padding: 0.5rem; color: #909090;">
              <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Four</h5>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Goalkeeper</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Ghana</p>
              <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A reliable goalkeeper with quick reflexes and strong leadership. Keeps the team safe with crucial saves.</p>
              <a href="#" style="display: inline-block; padding: 0.25rem 0.5rem; margin-top: 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--================ Tabs Area =================-->


<section class="tabs_an_gap " style=" padding: 40px 20px; background: #ffffff">
    <div class="container" >
      <div class="tabs_inner">
        <ul class="nav nav-tabs " id="myTab" role="tablist" style="background: radial-gradient(circle, #062b5c 10%, transparent 10%) 0 0 / 10px 10px, linear-gradient(to bottom,  #062b5c, #97002a); border-bottom: 2px solid #444;">
            <li class="nav-item">
                <a class="nav-link active" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true" style="color: #ffffff; font-weight: bold;">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tv-tab" data-toggle="tab" href="#tv" role="tab" aria-controls="tv" aria-selected="false" style="color: #ffffff;">AS TV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="debmarine-tab" data-toggle="tab" href="#debmarine" role="tab" aria-controls="debmarine" aria-selected="false" style="color: #ffffff;">Debmarine Premiership</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="caf-tab" data-toggle="tab" href="#caf" role="tab" aria-controls="caf" aria-selected="false" style="color: #ffffff;">CAF Champions League</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nfa-tab" data-toggle="tab" href="#nfa" role="tab" aria-controls="nfa" aria-selected="false" style="color: #ffffff;">Nfa Cup</a>
            </li>
        </ul>

            <div class="tab-content" id="myTabContent">
                <!-- News Tab Content -->
<div class="tab-pane fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
  <div class="container py-5">
      <div class="row">
          <div class="col-12">
              <div class="album bg-light">
                  <div class="container" style="max-width: 1600px;">
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                          <div class="col">
                              <div class="card shadow-sm border-light">
                                  <img class="card-img-top" src="{% static 'home/star1.jpg' %}" alt="Thumbnail" style="width: 100%; height: 225px; object-fit: cover;">
                                  <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                          <small class="text-muted">9 mins ago</small>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card shadow-sm border-light">
                                  <img class="card-img-top" src="{% static 'home/star5.jpg' %}" alt="Thumbnail" style="width: 100%; height: 225px; object-fit: cover;">
                                  <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                          <small class="text-muted">9 mins ago</small>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col">
                              <div class="card shadow-sm border-light">
                                  <img class="card-img-top" src="{% static 'home/star6.jpg' %}" alt="Thumbnail" style="width: 100%; height: 225px; object-fit: cover;">
                                  <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                          <small class="text-muted">9 mins ago</small>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Latest News Section -->
          </div>
      </div>
  </div>
</div>
<!-- End News Tab Content -->

                
                <!-- TV Tab Content -->
                <div class="tab-pane fade" id="tv" role="tabpanel" aria-labelledby="tv-tab">
                    <div class="row">
                
                        <div class="album py-5 bg-body-tertiary">
                            <div class="container" style="max-width: 1400px;">
                        
                              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                    </div>
                </div>
                <!-- End TV Tab Content -->
                
                <!-- Debmarine Tab Content -->
                <div class="tab-pane fade" id="debmarine" role="tabpanel" aria-labelledby="debmarine-tab">
                    <div class="row">
                    
                        <div class="album py-5 bg-body-tertiary">
                            <div class="container" style="max-width: 1400px;">
                        
                              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                    </div>
                </div>
                <!-- End Debmarine Tab Content -->
                
                <!-- CAF Tab Content -->
                <div class="tab-pane fade" id="caf" role="tabpanel" aria-labelledby="caf-tab">
                    <div class="row">
                    
                        <div class="album py-5 bg-body-tertiary">
                            <div class="container" style="max-width: 1400px;">
                        
                              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                    </div>
                </div>
                <!-- End CAF Tab Content -->
                
                <!-- NFA Cup Tab Content -->
                <div class="tab-pane fade" id="nfa" role="tabpanel" aria-labelledby="nfa-tab">
                    <div class="row">
                        <div class="album py-5 bg-body-tertiary">
                            <div class="container" style="max-width: 1400px;">
                        
                              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="card shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                    <div class="card-body">
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                    </div>
                </div>
                <!-- End NFA Cup Tab Content -->
                
            </div>
        </div>
    </div>
</section>

{% comment %} <section id="fans-section" style="padding: 40px 20px; background: #f0f0f0;">
<div class="container py-5" style="background: #f0f0f0; max-width:1600px;">
  <h2 class="text-center mb-4" style="font-weight: bold; color: #062b5c;">FOR FANS</h2>
  <div class="row">
    <!-- Pictures Column -->
    <div class="col-md-6 mb-4">
      <div class="d-flex flex-column gap-3">
        <img src="{% static 'home/fan3.jpg' %}" alt="Fan Photo 1" class="img-fluid rounded">
      </div>
    </div>
    <!-- Cards Column -->
    <div class="col-md-6 mb-4">
      <div class="row justify-content-around">
        <!-- Membership -->
        <div class="col-md-6 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">

              <h5 class="card-title mt-3" style="color: #e60000;">Membership</h5>
              <p class="lead">Become an official member and support the club.</p>
              <a href="#" class="btn btn-primary" style="background: #062b5c;">Join Now</a>
            </div>
          </div>
        </div>
        <!-- Tickets -->
        <div class="col-md-6 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">
              <h5 class="card-title mt-3" style="color: #e60000;">Tickets</h5>
              <p class="lead">Purchase tickets for upcoming matches and events.</p>
              <a href="#" class="btn btn-primary" style="background: #062b5c;">Buy Tickets</a>
            </div>
          </div>
        </div>
        <!-- Kits -->
        <div class="col-md-6 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">

              <h5 class="card-title mt-3" style="color: #e60000;">Kits</h5>
              <p class="lead">Get the latest official club kits and merchandise.</p>
              <a href="#" class="btn btn-primary" style="background: #062b5c;">Shop Now</a>
            </div>
          </div>
        </div>
        <!-- Other Essentials -->
        <div class="col-md-6 mb-4">
          <div class="card h-100 text-center">
            <div class="card-body">

              <h5 class="card-title mt-3" style="color: #e60000;">Essentials</h5>
              <p class="lead">Find all the essentials you need to support the club.</p>
              <a href="#" class="btn btn-primary" style="background: #062b5c;">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section> {% endcomment %}

<!--================ End Tabs Area =================-->


<section id="honours-section" style="padding: 40px 20px; background: linear-gradient(to bottom, #97002a, #000000);">
  <div class="container">
    <div class="row align-items-md-stretch">
      <!-- Sponsorships Section -->
      <div class="col-md-6 mb-4"> 
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/star5.jpg' %}" alt="Sponsorship Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Women Team</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">Join our team of sponsors and partners to support the club and gain valuable exposure for your brand. Together, we can achieve greatness.</p>
          </div>
        </div>
      </div>
      <!-- Youth Academy Section -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/fan3.jpg' %}" alt="Youth Academy Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Youth Academy</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">Our youth academy is dedicated to developing the next generation of football stars. Learn more about our programs and how to join.</p>
          </div>
        </div>
      </div>
      <!-- Community Engagement Section -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/fans.jpg' %}" alt="Community Engagement Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Community Engagement</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">African Stars is committed to giving back to the community. Discover our community projects and how you can get involved.</p>
          </div>
        </div>
      </div>
      <!-- Club Store Section -->
      <div class="col-md-6 mb-4">
        <div class="card h-100 rounded-3" style="position: relative; color: #888888; background-color: #ff0000; overflow: hidden;">
          <img src="{% static 'home/star8.jpg' %}" alt="Club Store Image" class="card-img" style="width: 100%; height: 200px; object-fit: cover;">
          <div class="card-img-overlay d-flex flex-column justify-content-end" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
            <h5 style="color: #ffffff; font-weight: bold; margin-bottom: 10px;">Club Store</h5>
            <p class="card-text" style="color: #C8C8C8; margin-bottom: 0;">Visit our club store to purchase official African Stars merchandise, including kits, accessories, and more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 
<section id="hightlights-section" style="padding: 40px 20px; background: url('{% static "home/member-background.jpg" %}') center/cover no-repeat; overflow: hidden;">
  <div class="container mt-5" style="position: relative; z-index: 1;">
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 20px;">
        <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <div style="position: relative; padding-top: 56.25%; background-color: #000;">
            <iframe src="https://www.youtube.com/embed/20HQO0tkZ18?modestbranding=1&showinfo=0&rel=0&t=47s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
            <i class="fab fa-youtube" style="position: absolute; bottom: 10px; right: 10px; font-size: 1rem; color: #ffffff;"></i>
          </div>
          <div class="card-body" style="padding: 1rem; color: #BEBEBE; background: rgba(0, 0, 0, 0.9);">
            <div style="font-size: 1rem; font-weight: bold;">Match 1 Highlights</div>
            <div style="font-size: 1rem; margin-top: 0.5rem;">Description of the match highlights.</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6" style="margin-bottom: 20px;">
            <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <div style="position: relative; padding-top: 56.25%; background-color: #000;">
                <iframe src="https://www.youtube.com/embed/AVdEF3rScws?modestbranding=1&showinfo=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                <i class="fab fa-youtube" style="position: absolute; bottom: 10px; right: 10px; font-size: 1rem; color: #ffffff;"></i>
              </div>
              <div class="card-body" style="padding: 1rem; color: #BEBEBE; background: rgba(0, 0, 0, 0.9);">
                <div style="font-size: 1rem; font-weight: bold;">African Stars 1-0 Supersports United</div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-bottom: 20px;">
            <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <div style="position: relative; padding-top: 56.25%; background-color: #000;">
                <iframe src="https://www.youtube.com/embed/fsgi_jct-rI?modestbranding=1&showinfo=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                <i class="fab fa-youtube" style="position: absolute; bottom: 10px; right: 10px; font-size: 1rem; color: #ffffff;"></i>
              </div>
              <div class="card-body" style="padding: 1rem; color: #BEBEBE; background: rgba(0, 0, 0, 0.9);">
                <div style="font-size: 1rem; font-weight: bold;">African Stars 2-0 Masitaoka FC</div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-bottom: 20px;">
            <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <div style="position: relative; padding-top: 56.25%; background-color: #000;">
                <iframe src="https://www.youtube.com/embed/cYlsNynPdR0?modestbranding=1&showinfo=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                <i class="fab fa-youtube" style="position: absolute; bottom: 10px; right: 10px; font-size: 1rem; color: #ffffff;"></i>
              </div>
              <div class="card-body" style="padding: 1rem; color: #BEBEBE; background: rgba(0, 0, 0, 0.9);">
                <div style="font-size: 1rem; font-weight: bold;">Match 4 Highlights</div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-bottom: 20px;">
            <div class="card" style="border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <div style="position: relative; padding-top: 56.25%; background-color: #000;">
                <iframe src="https://www.youtube.com/embed/G8qaJ_JUXkg?modestbranding=1&showinfo=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                <i class="fab fa-youtube" style="position: absolute; bottom: 10px; right: 10px; font-size: 1rem; color: #ffffff;"></i>
              </div>
              <div class="card-body" style="padding: 1rem; color: #BEBEBE; background: rgba(0, 0, 0, 0.9);">
                <div style="font-size: 1rem; font-weight: bold;">Match 5 Highlights</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <br>

  <section id="member-section" style="padding: 40px 20px; background: url('{% static "home/honour-bg.jpg" %}') center/cover no-repeat; overflow: hidden;">
    <div class="container" style="max-width: 1600px;">
        <h4 class="text-left mb-4 p-3 rounded-top font-weight-bold" style="color: #ffffff; font-size: 24px; border-bottom: 2px solid #062b5c;">Honours</h4>
        <div class="row justify-content-center align-items-center">
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
              <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                <img src="{% static 'home/trophy/1.svg' %}" alt="Premier League Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">Premier League</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">7 Titles</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4" >
                <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/2.svg' %}" alt="Cup Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">Namibian Cup</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">6 Titles</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
                <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/3.svg' %}" alt="Standard Bank Cup Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">Standard Bank Cup</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">1 Title</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
              <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/4.png' %}" alt="CAF Champions League Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">CAF Champions League</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">2 Appearances</p>
                    </div>
                </div>
            </div>
            <!-- Honour Card -->
            <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
              <div class="honour-card p-3 shadow-sm rounded text-center" style="width: 150px; height: 250px; background: rgba(0, 0, 0, 0.5);">
                    <img src="{% static 'home/trophy/5.png' %}" alt="CAF Confederation Cup Trophy" class="img-fluid mb-3" style="max-height: 80px; object-fit: contain;">
                    <div class="card-content">
                        <h4 class="font-weight-bold" style="font-size: 16px; color: #ffffff;">CAF Confederation Cup</h4>
                        <p class="font-weight-bold" style="font-size: 14px; color: #ffffff;">1 Appearance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</div>

{% endblock content %}

  