{% extends "home/base.html" %}
{% load static %}

{% block content %}
<section id="player-section" style="padding: 40px 20px; background: radial-gradient(#1a1a1a 10%, transparent 10%) 0 0 / 10px 10px, linear-gradient(to bottom, #000000, #1a1a1a); position: relative;">
    <div class="container mt-5">
  
      <!-- Goalkeepers -->
      <h5 style="color: #A9A9A9;">Goalkeepers</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
            <div class="card-body" style="display: flex; padding: 0; position: relative;">
              <div style="width: 30%; height: 150px; background-image: url('{% static "home/star4.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
              <div style="width: 70%; padding: 0.5rem; color: #909090;">
                <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Four</h5>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Goalkeeper</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Ghana</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A reliable goalkeeper with quick reflexes and strong leadership. Keeps the team safe with crucial saves.</p>
                <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
              <div class="card-body" style="display: flex; padding: 0; position: relative;">
                <div style="width: 30%; height: 150px; background-image: url('{% static "home/star4.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                <div style="width: 70%; padding: 0.5rem; color: #909090;">
                  <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Four</h5>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Goalkeeper</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Ghana</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A reliable goalkeeper with quick reflexes and strong leadership. Keeps the team safe with crucial saves.</p>
                  <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  
      <!-- Defenders -->
      <h5 style="color: #A9A9A9;">Defenders</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
            <div class="card-body" style="display: flex; padding: 0; position: relative;">
              <div style="width: 30%; height: 150px; background-image: url('{% static "home/star3.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
              <div style="width: 70%; padding: 0.5rem; color: #909090;">
                <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Three</h5>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Defender</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Zambia</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A strong defender known for tactical skills and defensive prowess. Excellent at blocking and intercepting.</p>
                <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
              <div class="card-body" style="display: flex; padding: 0; position: relative;">
                <div style="width: 30%; height: 150px; background-image: url('{% static "home/star3.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                <div style="width: 70%; padding: 0.5rem; color: #909090;">
                  <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Three</h5>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Defender</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Zambia</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A strong defender known for tactical skills and defensive prowess. Excellent at blocking and intercepting.</p>
                  <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  
      <!-- Midfielders -->
      <h5 style="color: #A9A9A9;">Midfielders</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
            <div class="card-body" style="display: flex; padding: 0; position: relative;">
              <div style="width: 30%; height: 150px; background-image: url('{% static "home/star2.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
              <div style="width: 70%; padding: 0.5rem; color: #909090;">
                <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Two</h5>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Midfielder</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: South Africa</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A creative midfielder who excels in passing and playmaking. Brings vision and strategy to the game.</p>
                <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
              <div class="card-body" style="display: flex; padding: 0; position: relative;">
                <div style="width: 30%; height: 150px; background-image: url('{% static "home/star2.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                <div style="width: 70%; padding: 0.5rem; color: #909090;">
                  <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player Two</h5>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Midfielder</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: South Africa</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A creative midfielder who excels in passing and playmaking. Brings vision and strategy to the game.</p>
                  <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  
      <!-- Strikers -->
      <h5 style="color: #A9A9A9;">Strikers</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
            <div class="card-body" style="display: flex; padding: 0; position: relative;">
              <div style="width: 30%; height: 150px; background-image: url('{% static "home/star1.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
              <div style="width: 70%; padding: 0.5rem; color: #909090;">
                <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player One</h5>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Forward</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Namibia</p>
                <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A talented forward with a knack for scoring. Known for quick sprints and sharp reflexes.</p>
                <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="background-color: #1a1a1a; border: 1px solid #000000; margin-bottom: 1rem;">
              <div class="card-body" style="display: flex; padding: 0; position: relative;">
                <div style="width: 30%; height: 150px; background-image: url('{% static "home/star1.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                <div style="width: 70%; padding: 0.5rem; color: #909090;">
                  <h5 style="font-size: 1rem; font-weight: bold; color: #A9A9A9;">Player One</h5>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Position: Forward</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Country: Namibia</p>
                  <p style="font-size: 0.75rem; margin-top: 0.25rem;">Bio: A talented forward with a knack for scoring. Known for quick sprints and sharp reflexes.</p>
                  <a href="#" style="position: absolute; top: 10px; right: 10px; padding: 0.25rem 0.5rem; background-color: #8c0012; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 0.75rem;">Follow</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  
    </div>
  </section>
  
  

{% endblock content %}