body {
    background-color: #f2f2f2;
}

.header-background {
    background-image: url("{% static 'home/header5.jpg' %}");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 250px;
}

.youtube-subscribe-background {
    background-image: url("{% static 'home/youtube.jpg' %}");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

.youtube-subscribe-background .card {
    background-color: rgba(0, 0, 0, 0.5);
}

.youtube-subscribe-background .card-title,
.youtube-subscribe-background .card-text {
    color: #FFFFFF;
}

.youtube-subscribe-background .btn {
    background-color: #FFFFFF;
    color: #FF0000;
    border-color: #FFFFFF;
}

.youtube-subscribe-background .btn:hover {
    background-color: #CCCCCC;
    color: #FF0000;
    border-color: #CCCCCC;
}

.top-bar {
    background-color: #cc0000;
    color: white;
    padding: 10px 0;
}

.top-bar a {
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: underline;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar img {
    height: 150px;
}

.top-bar .contact-info {
    display: flex;
    gap: 20px;
}

.navbar {
    background-color: #b30000;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: white;
    padding: 10px 140px;
}

.supporters-background {
    background-image: url("{% static 'home/supporters.jpg' %}");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

.supporters-background h2 {
    margin-bottom: 2rem;
}

.supporters-background .img-fluid {
    max-width: 100%;
    height: auto;
}

.supporters-background .lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.supporters-background .btn-primary {
    margin-top: 1.5rem;
}

.newsletter-background {
    background-image: url("{% static 'home/newsletter.jpg' %}");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

.newsletter-background .card {
    background-color: rgba(0, 0, 0, 0.6);
}

.newsletter-background .form-control {
    background-color: rgba(255, 255, 255, 0.8);
}

.newsletter-background .btn-primary {
    background-color: #b30000;
    border: none;
}

.sponsor-card {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 20px;
}

.sponsor-card img {
    max-width: 40%;
    height: auto;
    margin-bottom: 2px;
}

.sponsor-card p {
    margin-bottom: 0;
}

footer {
    background-color: #b30000;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
